
.glucose_pink {
    background-color: #FF047B !important;
}

.glucose_yellow {
    background-color: #EECE4B;
}

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FF047B;
   }
/* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FF047B;
     box-shadow: 0 1px 0 0 #FF047B;
}
/* icon prefix focus color */
.input-field .prefix.active {
     color: #FF047B;
}
.materialize-textarea:focus {
    border-bottom: 1px solid #FF047B;
    box-shadow: 0 1px 0 0 #FF047B;
}