<div>
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a href="index.html" ng-click="tab.setTab(1)">OVERVIEW</a>
            </li>
            <li class="tab col s3">
              <a href="history.html" ng-click="tab.setTab(2)">HISTORY</a>
            </li>
            <li class="tab col s3">
              <a href="assistant.html" ng-click="tab.setTab(3)">ASSISTANT</a>
            </li>
          </ul>
        </div>
    </div>
</div>
