<!-- Assistant Tab's content -->
<div class="col s9">
    <div class="row col s12 card white">
      <div class="card-content">
        <span class="card-title">Sumbit feedback</span>
        <p>
          If you find technical issues or have feedback about Glucosio we encourage you to sumbit it in the settings menu in order to help us improve Glucosio
        </p>
      </div>
      <div class="card-action">
        <a href="feedback.html" class="pink-text">SUMBIT FEEDBACK</a>
      </div>
    </div>
    <div class="row col s12 card white">
      <div class="card-content">
        <span class="card-title">Add a reading</span>

        <div id="glucose" class="modal">
          <div class="modal-content">
           <h4>Modal Header</h4>
           <p>A bunch of text</p>
          </div>
         <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
         </div>
        </div>

        <p>
          Be sure to regulary add your glucose readings so we can help you track your glucose levels over time
        </p>
      </div>
      <div class="card-action">
        <a href="#glucose" class="modal-trigger pink-text">ADD A READING</a>
      </div>
    </div>
</div>
