<footer class="glucose_pink page-footer">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <h5 class="white-text">© 2015 Glucosio</h5>
        <p class="grey-text text-lighten-4">User centered free and open source apps for diabetes management and research.</p>
      </div>
      <div class="col s4 offset-s1">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://glucosio.org">Project Website</a></li>
          <li><a class="grey-text text-lighten-3" href="http://glucosio.org/terms">Terms of Service</a></li>
          <li><a class="grey-text text-lighten-3" href="http://glucosio.org/privacy">Privacy Policy</a></li>
          <li><a class="grey-text text-lighten-3" href="http://glucosio.org/licensing">Licensing Policy</a></li>
        </ul>
      </div>
        <div class="col s2">
        <h5 class="white-text">Social</h5>    <!--ADD SOCIAL ICONS WITH SHARE LINKS -->
            <ul>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
            </ul>
        </div>
        </div>
      </div>
    </footer>
