<!-- History Tab's content -->
   <div class="col s11 card-panel">
      <table class="highlight">
        <thead>
          <tr>
            <th data-field="time">
              Time
            </th>
            <th data-field="value">
              Value
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Test 1
            </td>
            <td>
              Test 1
            </td>
          </tr>
          <tr>
            <td>
              Test 2
            </td>
            <td>
              Test 2
            </td>
          </tr>
          <tr>
            <td>
              Test 3
            </td>
            <td>
              Test 3
              </td>
          </tr>
        </tbody>
      </table>
      <div style="position: relative">
     <div class="fixed-action-btn horizontal tooltipped" data-position="right" data delay="0" data-tooltip="Add a reading" style="position: absolute; right:0px; bottom:130px">
         <a class="btn-floating btn-large glucose_pink">
         <i class="large material-icons">add</i>
         </a>
         <ul>
           <!-- ADD HERE GLUCOSE ANDROID APP'S ICONS -->
           <!-- can't initialize modal -->
             <li><a class="btn-floating glucose_pink modal-trigger" href="#glucose"><i class="material-icons">error_outline</i></a></li>

             <div id="glucose" class="modal modal-fixed-footer">
               <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
               </div>
              <div class="modal-footer">
               <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
             </div>

             <li><a class="btn-floating orange"><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating yellow"><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating green"><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating blue"><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating purple"><i class="material-icons">error_outline</i></a></li>
         </ul>
        </div>
    </div>
    <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>

   </div>
  </div>
  </div>
