<!-- History Tab's content -->
   <div class="col s11 card-panel">
      <table class="highlight">
        <thead>
          <tr>
            <th data-field="time">
              Time
            </th>
            <th data-field="value">
              Value
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Test 1
            </td>
            <td>
              Test 1
            </td>
          </tr>
          <tr>
            <td>
              Test 2
            </td>
            <td>
              Test 2
            </td>
          </tr>
          <tr>
            <td>
              Test 3
            </td>
            <td>
              Test 3
              </td>
          </tr>
        </tbody>
      </table>
      <div style="position: relative">
     <div class="fixed-action-btn tooltipped horizontal click-to-toggle" data-position="right" data delay="0" data-tooltip="Add a reading" style="position: absolute; right:0px; bottom:130px">
         <a class="btn-floating btn-large glucose_pink">
         <i class="large material-icons">add</i>
         </a>
         <ul>
           <!-- ADD HERE GLUCOSE ANDROID APP'S ICONS; modal placeholders-->
             <li><a class="btn-floating glucose_pink modal-trigger" data-target="glucose"><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating orange modal-trigger" data-target=""><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating yellow modal-trigger" data-target=""><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating green modal-trigger" data-target=""><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating blue modal-trigger" data-target=""><i class="material-icons">error_outline</i></a></li>
             <li><a class="btn-floating purple modal-trigger" data-target=""><i class="material-icons">error_outline</i></a></li>
         </ul>
        </div>
    </div>

    <!-- Modals with forms -->

    <!-- Glucose -->
    <div id="glucose" class="modal">
      <div class="modal-content">
       <h4>Add Glucose Reading</h4>
       <form class="col s12" novalidate>
         <div class="row">
             <div class="input-field col s12">
                   <input id="icon_prefix" type="text" class="validate" required>
                   <label for="icon_prefix">Concentration</label>
             </div>
             <div class="input-field col s6">
                 <input value="" id="date" type="text" class="datepicker validate" required>
                 <label for="date" class="active">Date</label>
             </div>
             <div class="input-field col s6">
                 <input id="time" type="text" class="validate" required>
                 <label for="time" class="active">Time</label>
             </div>
         </div>
         <div class="row">
           <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Measured</label>
          </div>
             <div class="col s4">
                 <button class="btn btn-large waves-effect glucose_pink" type="submit" name="action">Add Reading
                 <i class="material-icons right">add</i>
                 </button>
             </div>
         </div>
       </div>
      </form>
      </div>



    </div>
   </div>
  </div>
  </div>


<script>
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });

  $(document).ready(function() {
    $('select').material_select();
  });

  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 1,
  });
</script>
